* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Quicksand, sans-serif;
    color: #00425A;
    background-color: #d0f0fc;
}

header {
    display: flex;
    justify-content: center;
    height: 100px;
    margin: 20px 0;
    align-items: baseline;
}

i {
    color: #00425A;
    margin-left: 15px;
    display: inline-block;
}

/* subheading */
h2 {
    display: flex;
    justify-content: center;
    height: 60px;
}

/* cards */
.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.card {
    max-width: 175px;
    min-height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(#135b3f, #8fbe9d, #226a37);
    box-shadow: 0 0 7px black;
    color: white;
    transform: perspective(300px) rotatex(60deg);
}

.card h5 {
    font-size: large;
}

.image, p {
    width: 120px;
    height: 75px;
}

p {
    font-size: 10px;
    overflow: hidden;
}

/* hover animation */
.card:hover {
    cursor: pointer;
    animation: cardStand 1.5s ease;
    animation-fill-mode: forwards;
}

@keyframes cardStand {
    from {transform: perspective(300px) rotatex(60deg)}
    to {transform: perspective(none) rotatex(0deg);}
}

/* icon animation.css */
.animate__animated.animate__rotateIn {
    --animate-delay: 1s;
    --animate-duration: 5s;
}

/* button */
button {
    width: 50px;
    height: 20px;
    font-size: 8px;
    border-radius: 5px;
    color: #135b3f;
}

button:hover {
    cursor: grab;
    background-color: #EAE784;
}

button:active {
    border: 1px solid white;
    transform: scale(1.2);
}

/* transition effect on h2 */
h2:hover {
    color: #f18701;
    transform: scale(1.3);
    transition: transform 1.5s;
}